@media screen and (max-width:1000px){
    header .container{
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .botao{
        margin-top: 5px;
        width: 200px;
        align-items: flex;
        height: auto;
    }

}

@media screen and (max-width: 1000px){
    .filme-principal{

        width: fit-content;
        display: flex;
        height: auto;
        align-content: stretch;
        align-items: stretch;
        justify-items: normal
    }
}

@media screen and (min-width: 1000px){
    .descricao{
        width: 50%;
    }
    
}

@media screen and (max-width: 1000px){
    .logotipo{
        width: 170%;
        align-items: stretch;
        height: auto;
    }
}

@media screen and (max-width: 1000px){
    .body{
        width: auto;
        height: auto;
    }
}